body {
    margin: 0;
    padding: 0;
}

/* Header */
#header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #001a35;
    color: #fff;
    z-index: 100;
}

/* Logo */
#logo img {
    display: block;
    padding: 2px;
    max-width: 11em;
    height: auto;
}

/* Navigation */
#nav {
    position: absolute;
    top: 0;
    right: 0;
}
#nav ul {
    list-style: none; 
    padding: 0;
    margin: 0;
}
#nav ul li {
    display: inline-block;
    padding: 2.85em 2.75em; 
}
#nav ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: x-large; 
    color: rgba(101, 163, 214, 0.8);
    text-decoration: none;
    transition: color 0.35s ease-in-out;
}
#nav ul li a:hover {
    color: #fff;
}

#storeImage {
    width: 80%;
    height: auto;
}
/* Banner */
.bannerRow {
    padding-top: 5em;
    display: flex;
    justify-content: space-between;
    margin: 0;
    text-align: center;
}
.bannerColumns {
    width: 50%;
    padding: 2em;
    min-height: 1000px; /* Use min-height for responsiveness */
}
.bannerColumns h1 {
    margin-top: 5em;
}
.bannerColumns p {
    margin-top: 1em;
    font-size: large;
}
.bannerColumns img {
    margin-top: 8em;
    width: 400px;
    height: 400px;
    object-fit: cover;
    transition: 0.3s;
    border: 2px solid #000000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.564);
}
.bannerColumns:nth-child(odd) {
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, #001a35, rgb(0, 54, 170));
    /* background: #ee3c30de; */
}
.bannerColumns:nth-child(even) {
    color: rgb(255, 255, 255);
    background: #001a35;
}

/*Divider*/
#divider {
    height: 30px;
    width: 100%;
    background: #ffae00;
    box-shadow: 10px rgba(0, 0, 0, 0.6);
    text-align: center;
}
#divider ul{
    list-style: none; 
    padding: 0;
    margin: 0;
}
#divider ul li {
    display: inline-block; 
    padding: 0 1.25em;
}

#divider ul li a {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: larger; 
    color: rgba(2, 93, 168, 0.884);
    text-decoration: none;
    transition: color 0.35s ease-in-out;
}
#divider ul li a:hover {
    color: #fff;
}

/*Map*/
#map {
    height: 400px;
    width: 100%; 
}

#map iframe{
    height: 400px;
    width: 100%; 
    border: 0;
}

/*reviews*/
#reviews{
    height: 31em;
    width: 100%;
    border: 1px solid #000000;
    background-image: linear-gradient(to bottom right, rgb(0, 54, 170), #001a35);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

/*footer*/
#footer {
    color: #bc2014;
    background: rgba(80, 74, 74, 0.548);
    text-align: center;
    display: inline-block;
    width: 100%;
}
.fa {
    padding: 10px;
    font-size: 15px;
    width: 15px;
    text-decoration: none;
    margin: 2px;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}  
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-instagram {
    background: #125688;
    color: white;
}

/*shop & contact pages*/
#normalBanner {
    padding-top: 10em;
    width: 100%;
    height: 800px;
    color: rgb(255, 255, 255);
    background-image: linear-gradient(to bottom right, #001a35, rgb(0, 54, 170));
}

form {
    font-size: large;
    text-align: center;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.7);
    width: 80%;
    padding: 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}
form legend {
    font-size: larger;
    font-weight: bold;
    color: #0F1116;
    text-decoration: underline;
}
label {
    display: block;
    margin: 8px;
}
input[type="submit"],
input[type="reset"],
input[type="button"],
.button {
    -moz-appearance: none;
    -webkit-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
    -moz-transition: background-color 0.35s ease-in-out;
    -webkit-transition: background-color 0.35s ease-in-out;
    -o-transition: background-color 0.35s ease-in-out;
    -ms-transition: background-color 0.35s ease-in-out;
    transition: background-color 0.35s ease-in-out;
    background: #312ecf;
    border-radius: 6px;
    border: 0;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    color: white;
    margin: 1em;
    cursor: pointer;
    display: inline-block;
    padding: 0.75em 1.5em;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-size: 1.2em;
    font-weight: 600;
    color: #FFF !important;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:hover {
    background: #4a47e6;
}

input[type="submit"].alt,
input[type="reset"].alt,
input[type="button"].alt,
.button.alt {
    border: 1px solid #FFF;
    color: #0f1116;
}

input[type="submit"].fit,
input[type="reset"].fit,
input[type="button"].fit,
.button.fit {
    width: 100%;
}

input[type="submit"].small,
input[type="reset"].small,
input[type="button"].small,
.button.small {
    font-size: 0.8em;
}

input[type="submit"].medium,
input[type="reset"].medium,
input[type="button"].medium,
.button.medium {
    padding: 0.80em 2em;
    font-size: 1.6em;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="phone"],
textarea {
    background: rgb(230, 229, 229);
    color: #444343;
    border: none;
    font-size: larger;
    outline: 0;
    padding: .5em;
    margin: none;
    text-decoration: none;
    width: 80%;
    border-radius: 6px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}